<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- IMAGEN PRINCIPAL -->
    <meta charset="UTF-8">
    <!-- SEO -->
    <meta name="description" content="8BITS brinda ropa de primera calidad para hombres y mujeres y una experiencia unica. Pagina de contacto de venta de ropa para hombres y mujeres">
    <meta name=" keywords" content=" ROPA, 8BITS, REMERAS,COMPRAR, COMPRAR ONLINE ROPA, MODA, PANTALONES, BUZOS, SHORTS, COOL, CONTACTO, TELEFONO,MAIL,DIRECCION,PREGUNTAS">
    <title>8BITS CONTACTO</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Bootssnipp -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/archivo.css">
    <!-- ITEMS -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- FORMULARIO -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <!-- FOOTER -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <nav class="navbar navbar-default navbar navbar-inverse navbar-fixed-top">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                                <a class="navbar-brand" href="../index.html">
                                    <img alt="Brand" src="...">
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-center">
                                    <li class="dropdown">
                                        <a href="../views/shop.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> SHOP <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buzos</a></li>
                                            <li><a href="#">Remeras</a></li>
                                            <li><a href="#">Pantalón</a></li>
                                            <li><a href="#">Shorts</a></li>
                                            <li><a href="#">Accesorios</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">8BITS S#!T</a></li>
                                            <li role="separator" class="divider"></li>
                                        </ul>
                                    </li>
                                    <li><a href="../views/lifestyle.html">LIFESTYLE</a></li>
                                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                                    <li><a href="../views/sobrenosotros.html">SOBRE NOSOTROS</a></li>
                                    <li><a href="../views/signin.html">SIGN IN</a></li>
                                    <li><a href="../views/carrito.html">CARRITO</a></li>

                                </ul>
                                <form class="navbar-form navbar-right">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>

                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="w3-row-padding w3-center " style="margin-top: 100px;">

            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:460px">
                    <h3 class="title" style="margin-top: 65px;">MAIL & WEBSITE</h3><br>
                    <i class="fa fa-envelope" aria-hidden="true" style="font-size:110px"></i>
                    <br>
                    <br>
                    <br>
                    <p>
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
                        <br>
                        <br>
                        <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
                    </p>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:460px">
                    <h3 class="title" style="margin-top: 65px;">CONTACTO</h3><br>
                    <i class="fa fa-mobile" aria-hidden="true" style="font-size:120px"></i>
                    <br>
                    <br>
                    <br>
                    <p>
                        <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                        <br>
                        <br>
                        <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-756706XXXX
                    </p>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:460px">
                    <h3 class="title" style="margin-top: 65px;">DIRECCION</h3><br>
                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size:120px"></i>
                    <br>
                    <br>
                    <br>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot "Shree Krishna Krupa", Rajkot - 360001.
                    </p>
                </div>
            </div>
        </div>


        <!-- PREGUNTAS FRECUENTES -->

        <div class="row" style="margin-left: 35px; margin-top: 40px;">
            <h2 class="header-title"> Preguntas frecuentes</h2>
            <hr>
        </div>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Why you choose Titanic? 
                            </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet
                                        lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero,
                                        egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Why Titanic best? 
                            </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet
                                        lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero,
                                        egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How to apply Titanic jobs? 
                            </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet
                                        lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero,
                                        egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How experts Titanic team member? 
                            </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet
                                        lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero,
                                        egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How Titanic give customer support? 
                            </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet
                                        lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero,
                                        egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!-- CONTACTANOS -->
        <div class="row" style="margin-left: 35px; margin-top: 40px;">
            <h2 class="header-title"> Contactanos</h2>
            <hr>
        </div>

        <div class="container" style="margin-top:10px; margin-bottom: 40px;">
            <div class=" row ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form role="form " id="contact-form " class="contact-form ">
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="text " class="form-control " name="Name " autocomplete="off " id="Name " placeholder="Name ">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="email " class="form-control " name="email " autocomplete="off " id="email " placeholder="E-mail ">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <textarea class="form-control textarea " rows="3 " name="Message " id="Message " placeholder="Message "></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <button type="submit " class="btn main-btn pull-right ">Send a message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>



</body>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 ">
    <div class="w3-xlarge w3-section ">
        <p>FORMA PARTE</p>
        <i class="fa fa-facebook-official w3-hover-opacity "></i>
        <i class="fa fa-instagram w3-hover-opacity "></i>
        <i class="fa fa-snapchat w3-hover-opacity "></i>
        <i class="fa fa-pinterest-p w3-hover-opacity "></i>
        <i class="fa fa-twitter w3-hover-opacity "></i>
        <i class="fa fa-linkedin w3-hover-opacity "></i>
    </div>

    <div class="row text-center ">
        <ul class="menu list-inline ">
            <li>
                <a href="# ">Inicio</a>
            </li>

            <li>
                <a href="# ">Shop</a>
            </li>

            <li>
                <a href="# ">Lifestyle</a>
            </li>

            <li>
                <a href="# ">Contacto</a>
            </li>

            <li>
                <a href="# ">Sobre Nosotros</a>
            </li>
            <li>
                <a href="# ">Sign In</a>
            </li>
        </ul>
    </div>
    <div class="copyright ">
        <p>Copyright © 2020 All rights reserved</p>
    </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js " integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ " crossorigin="anonymous "></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js " integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd " crossorigin="anonymous "></script>
</body>

</html>